@mixin btn($bg-c, $bord-c) {
   background-color: $bg-c;
   padding: 8px 24px;
   color: #F8FDFE;
   border-radius: 4px;
   border: 1px solid $bord-c;
}
@mixin btn-hover($bg-c, $bord-c) {
   background-color: $bg-c;
   border: 1px solid $bord-c;
}
@mixin addings($bg-c) {
   border-radius: 4px;
   background-color: $bg-c;
}
@mixin addings-position($top, $lt) {
   top: $top;
   left: $lt;
}