@import 'reset';
@import 'variables';
@import 'mixins';

.header {
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: $main-color;

   .top-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;

      &__logo {
         color: #F8FDFE;
         font-size: 1.5em;
         font-weight: 700;
         display: flex;
      }
      &__logo-img {
         width: 24px;
         height: 28px;
      }

      .price-box {
         &__pricing {
            color: #F8FDFE;
            line-height: 24px;
            margin-right: 8px;
         }
         .trolley-btn {
            background-color: #10BBD5;
            border: none;
            position: relative;

            &__wheel-one {
               position: absolute;
               top: 25px;
               left: 8px;
            }
            &__wheel-two {
               position: absolute;
               top: 25px;
               right: 4px;
            }
            &__number {
               position: absolute;
               font-size: 12px;
               line-height: 10px;
               top: 55%;
               left: 58%;
               transform: translate(-50%, -50%);
            }
         }
      }
   }

   .bottom-block {
      background-color: #fff;
      height: 2em;

      .navbar {
         display: flex;
         justify-content: space-between;
         line-height: 2em;

         &__category {
            color: #000;
         }

         &__menu {
            display: flex;
            gap: 40px;
         }
      }
   }
}

.main {
   background-color: #EEEEEF;


   &__title {
      color: #1F1F1F;
      font-size: 2em;
      width: 100%;
      border-bottom: 1px solid #A8A8A8;
      padding: 2rem 0 1.4rem
   }
   &__products {
      padding: 24px 0 120px;

      .products-menu {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(3, 1fr);
         grid-gap: 2em 1.5em;
   
         &__list {
            padding: 32px;
            background-color: #fff;
            border: 1px solid #A8A8A8;
            display: flex;
            flex-direction: column;
            position: relative;
         }
         &__link {
            align-self: center;
         }
         &__image {
            width: 178px;
            height: 280px;
         }
         &__text-link {
            margin-top: 16px;
         }
         
         &__book-title{
            color: #1F1F1F;
            font-size: 20px;
            border-bottom: 1px solid #A8A8A8;
            line-height: 28px;
            font-weight: 700;
            overflow: hidden;
            white-space: nowrap;
         }
         &__book-author {
            color: $crossed-prc-cl;
            line-height: 24px;
         }
         &__book-price {
            color: $main-prc-cl;
            font-size: 1.5em;
            line-height: 2em;
            margin-bottom: 16px;
         }
         &__button--primery {
            @include btn(#4C394E, #4C394E);
   
            &:hover {
               @include btn-hover(#744978, #744978);
            }
         }
         
         &__button--secondary {
            @include btn(#4D762D, #4D762D);
   
            &:hover {
               @include btn-hover(#6DB236, #6DB236);
            }
         }
         
         &__price-box {
            margin-bottom: 16px;
         }
         &__crossed-price {
            color: #8E8E8E;
            font-size: 1.5em;
            font-style: normal;
            font-weight: 500;
            line-height: 2em;
            text-decoration: line-through;
            margin-left: 24px;
         }
      }
   }

   .chat-button {
      width: 64px;
      height: 64px;
      border: 1px solid $main-color;
      border-radius: 50%;
      background-color: $main-color;
      background-image: url("/images/chat_button.png");
      background-position: center;
      position: fixed;
      right: 30px;
      bottom: 35px;
      transition: .4s;
   
      &:hover {
         transform: rotate(20deg);
      }
   }
}

.footer {
   background-color: #4C394E;
   height: 88px;

   &__wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__text {
      color: #F8FDFE;
      line-height: 24px;
   }
}


.addings {
   color: #F8FDFE;
   line-height: 24px;
   padding: 4px 8px;
   width: fit-content;
   position: absolute;
}
.hit--product {
   @include addings(#4200FF);
}
.new--product {
   @include addings(#AF39E7);
}
.discount--product {
   @include addings(#EA33C0);
}
.first {
   @include addings-position(32px, 28px);
}
.second {
   @include addings-position(32px, 67px);
}

.second--discount {
   @include addings-position(32px, 78px);
}